<!-- <table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of data" scope="col">{{item.Name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of data; let i = index">
      <td scope="col"> {{ address.Name }} </td>
    <tr>
  </tbody>
</table> -->

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let head of data[0] | table" (click)="sortByHead(head)">{{head}}</th><button class="btn btn-primary"
        (click)="addObject()">Add</button>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let list of item | table">{{item[list]}}</td><button class="btn btn-danger"
        (click)="delete(item)">Delete</button>
    </tr>
  </tbody>
</table>
